@font-face {
    font-family: 'FreeSetDemiC';
    src: url(fonts/FreeSetDemiC.woff2) format(woff2),
         url(fonts/FreeSetDemiC.woff) format(woff),
         url(fonts/FreeSetDemiC.ttf) format(ttf),
         url(fonts/FreeSetDemiC.svg) format(svg),
         url(fonts/FreeSetDemiC.eot) format(eot);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FreeSetC';
    src: url(fonts/FreeSetC.woff2) format(woff2),
        url(fonts/FreeSetC.woff) format(woff),
        url(fonts/FreeSetC.ttf) format(ttf),
        url(fonts/FreeSetC.svg) format(svg),
        url(fonts/FreeSetC.eot) format(eot);
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

.home {
    background: url(/images/ekaterina-sazonova-PoQYDgPfx8I-unsplash\ 1.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: -50px;
}

.header__content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.header__container-1 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
}

.header__phone-number {
    height: 19px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.socials img {
    margin-left: 17px;
}

.header__languages {
    height: 15px;        
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.information span {
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
}

.information img {
    margin-left: 25px;
}

.container-underline {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 15px;
    margin-bottom: 0;
}

.header__container-2 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header__list ul {
    display: flex;
}

.header__list li {
    margin-left: 30px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.462604px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.headline__container {
    display: flex;
    justify-content: center;
    margin-top: 230px;
}

.headline__container h1 {
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 126.3%;
    color: #FFFFFF;
    height: 163px;
}

.tours__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-bottom: 0;
}

.tours__headline {
    padding-top: 129px;
    margin-bottom: 24px;
    width: 83px;
    height: 41px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    position: relative;
}

.tours__headline::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #005C9C;
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tours__arrows-1 {
    padding-right: 15px;
}

.tours__description {
    width: 263px;
    height: 123px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #707070;
    margin-bottom: 83px;
}

.tours__card-first {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 262px;
    height: 400px;
    background: url(images/patrick-hendry-eDgUyGu93Yw-unsplash\ 1.png);
    position: relative;
    overflow: hidden;
}

.tours__card-content {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tours__card-first::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tours__card-content p {
    width: 201px;
    height: 21px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 30px;
    padding-top: 13px;
}

.tours__card_title {
    width: 211px;
    height: 61px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white; 
    padding-left: 30px;
    margin: 0;
    padding-top: 25px;
}

.tours__card_btn {
    box-sizing: border-box;
    width: 199px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.tours__card_btn-text {
    width: 62px;
    height: 18px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 69px;
    padding-right: 69px;
    margin: 0;
}

.tours__card-second {
    border-radius: 10px; 
    width: 262px;
    height: 400px;
    background: url(images/casey-schackow-meI9Aa1wlw0-unsplash\ 1.png);
    position: relative;
    overflow: hidden;
}

.tours__card-second::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.tours__card-third {
    width: 262px;
    height: 400px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: url(/images/vidar-nordli-mathisen-yJKb_4vjYwA-unsplash\ 1.png);
    position: relative;
    overflow: hidden;
}

.tours__card-third::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.excursions {
    padding-top: 50px;
    padding-bottom: 52px;
    background-color: #F2F7FC;
}

.excursions__container {
    max-width: 1202px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.excursions__headline {
    width: 173px;
    height: 41px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 27px;
    position: relative;
}

.excursions__headline::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #005C9C;
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.excursions__description h3 {
    width: 263px;
    height: 123px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #707070;
    margin: 0;
}

.excursions__arrow-3 {
    padding-right: 15px;
}

.excursion__card-1 {
    width: 262px;
    height: 400px;
    background: url(/images/166714413\ 1.png);      
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.excursions__card-content {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.excursion__card-1::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.excursion__card-2 {
    width: 262px;
    height: 400px;
    background: url(/images/261011700\ 1.png);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.excursion__card-2::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.excursion__card-3 {
    width: 262px;
    height: 400px;
    background: url(/images/157793103\ 1.png);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.excursion__card-3::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.excursion__card_title {
    width: 211px;
    height: 68px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 21px;
    margin-top: 0;
    margin-bottom: 12px;
}

.excursion__card_description {
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;    
}

.excursion__card_btn {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-top: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.excursion__card_btn button {
    width: 62px;           
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 69px;
    padding-right: 69px;
    margin: 0;
    background: none;
    border: none;
}

.hotel__container {
    max-width: 1199px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

.hotel__headline {
    width: 171px;
    height: 41px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    position: relative;
    margin-bottom: 24px;
}

.hotel__headline::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #005C9C;
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.hotel__description h2 {
    width: 263px;
    height: 123px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #707070;
    margin-top: 0;
    margin-bottom: 0;
}

.hotel__arrows-1 {
    padding-right: 15px;
}

.hotel__card {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 262px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.hotel__card-content {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hotel__card::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.hotel__card-1 {
    background: url(/images/simon-rae-t4NvUGv1834-unsplash\ 1.png);
}

.hotel__card-2 {
    background: url(/images/joseph-albanese-xx0oSB1YxRE-unsplash\ 1.png);
}

.hotel__card-3 {
    background: url(/images/patrick-perkins-3wylDrjxH-E-unsplash\ 1.png);
}

.hotel__card_title {
    width: 211px;
    height: 37px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 21px;
    margin-bottom: 5px;
}

.hotel__card_title-family {
    width: 211px;
    height: 68px;
}

.hotel__card_description {
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;    
    margin: 0;
}

.hotel__card_btn {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-top: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.hotel__card_btn button {
    width: 100%;           
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 58px;
    padding-right: 58px;
    background: none;
    border: none;
}

.products__container {
    max-width: 1201px;
    margin-left: auto;
    margin-right: auto;
}

.products{

    background: #F2F7FC;
}

.products__popular {
    width: 342px;
    height: 41px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    position: relative;
    margin-bottom: 48px;
}

.products__popular::after {
    content: '';
    width: 95%;
    height: 10px;
    background: #005C9C;
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.popular__container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.btn__to-the-store {
    box-sizing: border-box;
    border: 1px solid #D8DDE3;
    border-radius: 5px;
    width: 132px;
    height: 35px;    
}

.btn__to-the-store_black {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background: none;
    border: none;
    width:100%;
    height: 100%;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232323;
}

.btn__to-the-store img {
    padding-left: 10px;
}

.products__container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #E9ECEE;
    border-radius: 10px;
    max-width: 263px;
    height: 433px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.card p {
    padding-left: 20px;
    margin-bottom: 17px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.old-price {
    width: 66px;
    height: 23px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 12px;
    text-decoration: line-through;
}

.new-price {
    width: 66px;
    height: 24px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 22px;
}

.card__prices {
    height: 24px;
    margin-bottom: 17px;
    margin-top: 20px;
    display: flex;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.products__card {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

.products__card_title {
    margin: 0;
    margin-bottom: 14px;
    padding-left: 20px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.products__card_category {
    width: 232px;
    height: 15px;
    left: 140px;
    top: 2643px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
}

.products__card_category span {
    text-decoration: underline;
}


.card__btn {
    box-sizing: border-box;
    width: 221px;
    height: 49px;
    border: 1px solid #BD0202;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-top: auto;
}

.card__btn-sale {
    width: 221px;
    height: 49px;
    background: #E9ECEE;
    border-radius: 5px; 
    margin-left: 20px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-top: auto;
}

.card__btn-grey {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #9AA2A9;
    border: none;
    background: none;
}

.card__btn-sale img {
    margin-right: 5px;
}

.card__btn_red {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 85px;
    margin-right: 85px;
    width: 50px;
    height: 18px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #BD0202;
    border: none;
    background: none;
}

.news__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    
}

.news__title-container {
    display: flex;
}

.news__headline {
    width: 200px;
    height: 41px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #232323;
    position: relative;
    margin-top: 0;
}

.news__headline::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #005C9C;
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.news__story h3 {
    margin-top: 49px;
    margin-bottom: 0;
    width: 263px;
    height: 140px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.16px;
    color: #232323;
}

.news__story-btn {
    box-sizing: border-box;
    width: 104px;
    height: 35px;
    border: 1px solid #E9ECEE;
    border-radius: 5px;
    margin-top: 25px;
}

.news__story-btn button {
    width: 100%;
    height: 35px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232323;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    border: none;
    background: none;
}

.btn-arrow {
    margin-left: 10px;
}

.news__contant-container {
    margin-left: 50px;
    width: 100%;
}

.news__headline-and-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.news__headline-2 {
    width: 138px;
    height: 41px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #232323;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.news__headline-2::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #005C9C;
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.news__container-cards {
    display: flex;
    justify-content: space-between;
}

.news-card {
    display: flex;
}

.news__card-photo {
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
}

.news__card-data {
    width: 68px;
    height: 14px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.16px;
    color: #232323;
    opacity: 0.5;
}

.news__card-title {
    width: 229px;
    height: 55px;   
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.16px;
    color: #232323;
}

.news__card-btn {
    box-sizing: border-box;
    width: 145px;
    height: 35px;
    border: 1px solid #E9ECEE;
    border-radius: 5px;
}

.news__card-btn button {
    width: 100%;
    height: 24px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232323;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: none;
}

.card-btn-container {
    margin-top: 50px;
}

.footer {
    background-color: black;
}
.footer hr {
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.footer__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    padding-top: 50px;
}

.footer__name-number {
    width: 68px;
    height: 19px;
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__phone-number {
    height: 25px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 0;
}

.footer__svg-phone {
    padding-right: 5px;
}

.footer__mail {
    width: 41px;
    height: 19px;
    font-family: 'FreeSetDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 0;
}

.footer__name-mail {
    height: 18px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 5px;
}

.footer__news {
    margin-left: 96px;
}

.footer__news-title {
    width: 201px;
    height: 25px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 33px;
    margin-top: 0;
}

.footer__news hr {
    width: 262px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}

.footer__news-mail {
    width: 191px;
    height: 16px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 17px;   
    margin-top: 30px;
}

.footer__news-btn {
    box-sizing: border-box;
    width: 262px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    margin-bottom: 15px;
}

.footer__news-btn button {
    width: 38px;
    height: 18px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 21px;
    border: none;
    background: none;
}

.footer__news-warning {
    width: 262px;
    height: 36px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;
    margin-top: 0;
}

.footer__news_social-icons {
    display: flex;
}

.footer__news-socials {
    width: 114px;
    height: 18px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 0;
}

.img-icons {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #393939;
    border-radius: 5px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 5px;
}

.links-icons {
    height: 14.045454978942871px;
    width: 14.045454978942871px;
}

.footer__links {
    width: 575px;
    height: 321px;
    margin-left: 50px;
}

.footer__links hr {
    width: 575px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 0;
}

.description-container {
    display: flex;
    justify-content: space-between;
}

.footer__links-title {
    width: 75px;
    height: 25px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 33px;
}

.footer__links_description {
    width: 261px;
    height: 233px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: #FFFFFF;
}

.footer__links_description li {
    display: flex;
    justify-content: space-between;
}

.footer__links_description ul {
    padding-left: 0;
}

.privacy-policy-text {
    width: 100%;
    height: 24px;
    font-family: 'FreeSetC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 33px;
    display: inline-block;
    text-align: center;
}